img{
	max-width: 100%;
}
body{
	background: #5680a2;
	font-size: arial;
	font-size: 16px;
	margin: 0;
	max-width: 100%;
	min-width: 480px;
}
header{
	margin: 0;
	padding: 0,5em;
}
header #logo img{
	float: left;
	margin-top: -1em;
	margin-left: 2em;
	position: absolute;
	width: 140px;
	
}
#contenido {
	background: red;
	width: 100%
}
#contenido #slider{
	margin: 0 auto;
	width: 100%;

}
#contenido #slider img{
	max-width: 960px;
	min-width: 480px;
	margin: 0 auto;


}
nav{
	margin-left: 11em;

}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	vertical-align: top;
}
nav ul li a{
	font-family: "latoregular";
    font-size: 1,99em;
    text-decoration: none;
    float: left;
    padding: .5em;
    background-color: #5680a2;
    color: #fff;
}

nav ul li  a:hover{
    background-color: #256280;
    border-radius: .5em;
    padding-bottom: .5em;
}

nav ul li #f{
	background: red;
	content: "\e601";
	font-family: "icomoon";
}


