/* reseteo universal */

*
{
    border: 0;
	margin: 0;
	padding: 0;
}

article,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}

/*termina reseteo universal*/

/* estilos del sitio */

/* importamos las fuentes a utilizar */
@import url(http://fonts.googleapis.com/css?family=Lato);

/* terminamos la importacion de fuentes  #5680a2 */

body{
	background: #5680a2 url();
	color: #fff;
	font-family: "latobold";
	font-size: 16px;
}

a{
    color: #57abb8;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #f60;
}

header{
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}
header h1, nav{
    display: inline-block;
    max-width: 90%;
    
}
#logo{
    float: left;
    margin-top: -1em;
    max-width: 280px;
    max-height: 188px;
    position: absolute;

}
#slider{

}
/* empezamos la botonera */
nav {
    margin-left: 21em;
    padding: 0;
    
}
nav li {
    display: inline;
}
/* aqui aplicamos los colores y la fuentes y tamaños */
nav li a{
    font-family: "latoregular";
    font-size: 1em;
    text-decoration: none;
    float: left;
    padding: .5em;
    background-color: #5680a2;
    color: #fff;
}
/* aqui aplicamos es efecto de mover en mause encima cambie de forma*/
nav li  a:hover{
    background-color: #256280;
    border-radius: .5em;
    padding-bottom: .5em;
}
*/
/* aqui empezamos el slider*/
/* aqui termina slider*/

/* aqui empezamos la barra despues de el slider*/
aside{

}
#S, #M, #N, #E{
    display: inline-block;
    float: left;
    margin-top: 1em;
}

#E{
    margin-left: 12em;
}
article{
    border: 1px solid;
    margin-top: 4em;
}
#I{
    margin-left: 12em;
    width: 40%;
    text-align: 
}